@font-face {
    font-family: 'comms';
    src: url(./Lemon\ Round.ttf);
}
body{
    font-family: 'comms';
    background: linear-gradient(150deg, #fed, #fde);
}
.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background: url(pattern.png);
    background-size: 10px;
}
h1{
    font-size: 5vh;
    font-weight: lighter;
    margin: 0;
    color: black;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}
.card{
    border: 5px black solid;
    border-radius: 50px;
    width: 40vw;
    height: 40vw;
    background: center;
    background-size: contain;
    background-color: white;
}
#img1{
    background-image: url(./test.png);
}
#img2{
    background-image: url(./test.png);
}
#img3{
    background-image: url(./test.png);
}
#img4{
    background-image: url(./test.png);
}