@font-face {
    font-family: 'comms';
    src: url(Lemon\ Round.ttf);
}
body{
    font-family: 'comms';
    background: linear-gradient(150deg, #fed, #fbc);
    color: black;
}
div{
    margin: 0;
    gap: 10px;
    overflow: hidden;
}
.container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background: url(pattern.png);
    background-size: 10px;
}
.title{
    background-color: #FFBFED;
    border: black 5px solid;
    border-radius: 2vh;
    padding: 1vh;
}
h1{
    font-size: 5vh;
    font-weight: lighter;
    margin: 0;
}
.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.card{
    border: 5px black solid;
    border-radius: 15%;
    width: 48vw;
    height: 48vw;
    max-width: 400px;
    max-height: 400px;
    background: center;
    background-size: contain;
    background-color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: center;
    justify-content: center;
}
p{
    margin: 0;
}
a{
    margin: 0;
    text-decoration: none;
    color: inherit;
}
#img1{
    background-image: url(./imgs/full.png);
}
#img2{
    background-image: url(./imgs/background.png);
}
#img3{
    background-image: url(./imgs/sketch.png);
}
#img4{
    background-image: url(./imgs/examples.png);
}
img{
    border: 5px black solid;
    border-radius: 15%;
    width: 48vw;
    height: 48vw;
    max-width: 350px;
    max-height: 350px;
}